<!doctype html>
<html>
  <head>
    <%= favicon_tag 'images/Elite-ICON.png' %>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "For Elite" %></title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Playfair+Display:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700i" rel="stylesheet"> 
    <script src="https://use.fontawesome.com/11bd6509be.js"></script>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Foundation -->    
    <link rel="stylesheet" type="text/css" href="stylesheets/foundation.css">

    <script src="/javascripts/vendor/foundation.min.js" type="text/javascript" charset="utf-8" async defer></script> 

    <!-- fullpage -->
    <script type="text/javascript" src="javascripts/jquery.fullPage.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.fullPage.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>    
    <link rel="stylesheet" type="text/css" href="stylesheets/jquery.fullPage.css" />

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
