<%= stylesheet_link_tag 'footer' %>

<div class="section fp-auto-height" data-anchor="Contact">
		<div class="footer-cont">
			<div class="row text-align-center footer-col">
				<div class="large-5 columns footer-col-1">
					<p>Telephone: (+1) 305 364 56 54 
					<br>
					Address: 3105 NW 107th Ave. Suite 606 <br> Doral, Florida, 33172
					</p>
				</div>
				<div class="large-2 columns footer-col-2">
					<a href="/index.html"><%= image_tag "images/Elite-ICON.png", :class => "footer-logo" %></a>		
				</div>
				<div class="large-5 columns footer-col-1-m">
					<p>Telephone: (+1) 305 364 56 54 <br>
					<br>
					Address: 3105 NW 107th <br> Ave. Suite 606, Doral, Florida 33172.
					</p>
				</div>
				<div class="large-5 columns footer-col-3">
					<div class="row text-align-center footer-links">
						<div class="large-2 columns">
							<a href="index.html" title=""><p>HOME</p></a>
						</div>
						<div class="large-2 columns">
							<a href="about_us.html" title=""><p>ABOUT US</p></a>
						</div>
						<div class="large-2 columns">
							<a href="services.html" title=""><p>SERVICES</p></a>
						</div>
						<div class="large-2 columns">
							<a href="#"><p>BLOG</p></a>
						</div>
						<div class="large-2 columns">
							<a href="#" title=""><p>FAQ</p></a>
						</div>
						<div class="large-2 columns">
							<a href="#" title=""><p>LOGIN</p></a>
						</div>
					</div>
					<div class="row text-align-center footer-links footer-links-later">
						<div class="large-6 columns">
							<a href="#" title=""><p>PRIVACY POLICY</p></a>
						</div>
						<div class="large-6 columns">
							<a href="#" title=""><p>TERMS AND CONDITIONS</p></a>
						</div>
					</div>
				</div>
				<div class="social">
					<div class="box-wrapper">
						<a href="https://twitter.com/elitemsol" title=""><%= image_tag "Group.png", :class=> "ssnn-img"%></a>
						<a href="" title=""><%= image_tag "Group-1.png", :class=> "ssnn-img"%></a>
						<a href="https://www.facebook.com/Elite-Management-Solutions-1325066507517980/" title=""><%= image_tag "Group-2.png", :class=> "ssnn-img"%></a>
					</div>
				</div>
				<div class="large-5 columns footer-col-3-m">
					<div class="row text-align-center">
						<div class="large-2 small-3 columns">
							<a href="index.html" title=""><p>HOME</p></a>
						</div>
						<div class="large-2 small-3 columns">
							<a href="about_us.html" title=""><p>ABOUT US</p></a>
						</div>
						<div class="large-2 small-3 columns">
							<a href="services.html" title=""><p>SERVICES</p></a>
						</div>
						<div class="large-2 small-3 columns">
							<a href="#"><p>BLOG</p></a>
						</div>
					</div>
					<div class="row text-align-center footer-links">
						<div class="large-6 small-4 columns">
							<a href="property.html" title=""><p>PROPERTY MANAGEMENT</p></a>
						</div>
						<div class="large-6 small-4 columns">
							<a href="family.html" title=""><p>FAMILY OFFICE</p></a>
						</div>
						<div class="large-6 small-4 columns">
							<a href="ser
							" title=""><p>CONCIERGE <br> SERVICES</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright">
			<span>&copy; 2016 Elite Management Solutions. Powered by </span>
			<a href="http://www.thesocialus.com" title="The Social Us" target="_blank"><img src="images/TheSocialUs.png" alt="TheSocialUs"></a>
		</div>
	</div>